<ul>
	<li>
		<a href="{{ @BASE }}/main/">Main</a>
		<ul>
			<li><a href="{{ @BASE }}/main/page1">Page1</a></li>
			<li><a href="{{ @BASE }}/main/page2">Page2</a></li>
		</ul>
	</li>
	<li>
		<a href="{{ @BASE }}/module1">Module1</a>
		<ul>
			<li><a href="{{ @BASE }}/module1/page1">Page1</a></li>
			<li><a href="{{ @BASE }}/module1/page2">Page2</a></li>
		</ul>
	</li>
	<li>
		<a href="{{ @BASE }}/module2">Module2</a>
		<ul>
			<li><a href="{{ @BASE }}/module2/page1">Page1</a></li>
			<li><a href="{{ @BASE }}/module2/page2">Page2</a></li>
		</ul>
	</li>
</ul>